<!DOCTYPE html>
<html>
	<head>
	<base href="#(basepath)">
		<meta charset="UTF-8">
		<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="assets/css/admin.css"/>
	</head>
	<body>
		<div class="container-fluid">
		<div class="cyz_summary_container">
			<div class="panel panel-info">
		  <!-- Default panel contents -->
		  <div class="panel-heading">
		  	<span class="cyz_summary_title">平台数据汇总统计</span>
		  </div>
		  <div class="panel-body">
		    <p>
			  <div class="list-group">
			    <a class="list-group-item" href="">用户 <span class="badge">4</span></a>
			    <a class="list-group-item" href="">项目<span class="badge">4</span></a>
			     <a class="list-group-item" href="">友链<span class="badge">4</span></a>
			    <a class="list-group-item" href="">投资机构<span class="badge">4</span></a>
			    <a class="list-group-item" href="">人物<span class="badge">4</span></a>
			    <a class="list-group-item" href="">文章<span class="badge">4</span></a>
			  </div>
		    	
		    </p>
		  </div>
		</div>
		</div>
	</div>
	</body>
	<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
