#@innerlayout()
#define main()
<div id="toolbar">
	<div class="form-inline" role="form" style="">
	<div class="form-group">
		<input placeholder="关键词查询" name="keywords" class="form-control" type="text" />
	</div>
	<div class="form-group">
		<select class="form-control" name="enable">
			<option value="">=是否启用=</option>
			<option value="true">启用</option>
			<option value="false">禁用</option>
		</select>
	</div>
	<button id="searchBtn" class="btn btn-primary btn-md">查询</button>
	
	</div>
</div>
<table id="table"
	 data-toolbar="#toolbar"
     data-show-refresh="true"
     data-show-toggle="true"
     data-show-columns="true"
     data-query-params="queryParams"></table>
#end		

#define js()
<script>
		var table=$('#table');
		window.enableEvents={
			'click button': function (e, value, row, index) {
				layer.confirm('确认'+(value?"禁用":"启用")+'?', {icon: 3, title:'请确认'}, function(index){
	        		var loadIndex=layer.load();
	        		$.ajax({
	            		type:"get",
	            		dataType:"json",
	            		url:"admin/user/toggleEnable/"+row.id,
	            		success:function(ret){
	            			if(ret.isOk){
	            				layer.close(loadIndex);
	            				 layer.msg('操作成功', {icon: 1,time:1000});
	            				 row['enable']=!row['enable'];
	            				  table.bootstrapTable('updateRow', {
	            		                index: index,
	            		                row:row
	            		            }); 
	            			}
	            		}
	            	})
	        		});
	        }	
		};
		 window.operateEvents = {
		'click .edit': function (e, value, row, index) {
			edit(row.id);
        },
        'click .remove': function (e, value, row, index) {
        	layer.confirm('是否删除此用户?', {icon: 3, title:'请确认'}, function(index){
        		var loadIndex=layer.load();
        		$.ajax({
            		type:"get",
            		dataType:"json",
            		url:"admin/user/del/"+row.id,
            		success:function(ret){
            			if(ret.isOk){
            				layer.close(loadIndex);
            				 layer.msg('删除成功', {icon: 1,time:1000});
            				 table.bootstrapTable('remove', {
            		                field: 'id',
            		                values: [row.id]
            		            });
            			}
            		}
            	})
        		 // layer.close(index);
        		});
        
           
        }
        
    };
	function refreshThisTable(){
		table.bootstrapTable('refresh');
	}
    $("#searchBtn").on("click",function(){
    	refreshThisTable();
    });
    
      function queryParams(params) {
        $('#toolbar').find('input,select').each(function () {
            params[$(this).attr('name')] = $(this).val();
        });
        return params;
    }

		table.bootstrapTable({
			pagination:true,
			sidePagination:"server",
			height:600,
			pageList:[10,15,20,25,30,35,40,45,50],
			url:"admin/user/list",
		    columns: [{
		        field: "index",
		        title: '编号',
		        align: 'center',
		        formatter:formatIndex
		    }, {
		        field: 'realname',
		        title: '姓名',
		        align: 'center',
		        editable:{
		        	type:"text",
		        	validate:function(v){
		        		if(!($.trim(v))) return "姓名不能为空";
		        	}
		        }
		    }, {
		        field: 'username',
		        title: '用户名',
		        align: 'center',
		        editable:{
		        	type:"text",
		        	validate:function(v){
		        		if(!($.trim(v))) return "用户名不能为空";
		        	}
		        }
		    }, {
		        field: 'enable',
		        title: '是否启用',
		        align: 'center',
		        events:enableEvents,
		        formatter:formatEnable
		    }, {
		        field: 'operate',
                title: '操作',
                align: 'center',
                events: operateEvents,
                formatter: operateFormatter
		    }],
		    onResetView:function(){
		    	$("[data-toggle='tooltip']").tooltip();
		    	$("#addBtn").parent().find("[title]").tooltip({
		    		placement:"bottom"
		    	});
		    },
		    onEditableSave:function(field,row,oldValue,el){
		    	 table.bootstrapTable('resetView');
		    	 var user={
		    			"user.id":row.id,
		    			"user.username":row.username,
		    			"user.realname":row.realname
		    	 };
		    	
		    	 $.ajax({
		    		 type:"post",
		    		 url:"admin/user/save",
		    		 dataType:"json",
		    		 data:user,
		    		 success:function(ret){
		    			 if(ret.isOk){
		    				 layer.msg("更新成功",{icon:1,time:1000});
		    			 }else{
		    				 layer.msg("更新失败",{icon:5,time:1000});
		    			 }
		    		 }
		    	 })
		    }
		});
		
		function formatEnable(value, row, index){
			var btn;
			if(value){
				btn='<button data-toggle="tooltip" class="btn btn-success btn-xs" data-placement="left"  title="已启用，点击可切换状态为未启用"><span class="glyphicon glyphicon-eye-open"></span></button>';
			}else{
				btn='<button data-toggle="tooltip"  class="btn btn-danger btn-xs" data-placement="left" title="未启用，点击可切换状态为启用"><span class="glyphicon glyphicon-eye-close"></span></button>';
			}
			return [btn].join('');
		}
		function formatIndex(value, row, index){
			return [index+1].join('');
		}
		
		function operateFormatter(value, row, index){
			return [
            '<button data-toggle="tooltip"  class="btn btn-success btn-xs edit"   title="编辑">',
            '<i class="glyphicon glyphicon-pencil"></i>',
            '</button>  ',
            '<button data-toggle="tooltip"  class="btn btn-danger btn-xs remove"    title="删除">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</button>'
        	].join('');
		}
		
		  setTimeout(function () {
            table.bootstrapTable('resetView');
        }, 200);
		$("[data-toggle='tooltip']").tooltip();
		
		$(".columns.columns-right.btn-group.pull-right").prepend('<button id="addBtn" class="btn btn-default btn-md"  title="新增"><i class="glyphicon glyphicon-plus"></i></button>');
		
		
		function edit(id){
			layer.open({
				  type:2,
				  title:'新增',
				  maxmin: true,
				  area:['780px','500px'],
				  btn:['确定','取消'],
				  content: 'admin/user/edit/'+id,
				  yes:function(index, layero){
					  var iframeName=layero.find("iframe")[0]['name']
					  var iframeWindow=window[iframeName];
					  iframeWindow.submitThisForm();
				  }
				});    
		}
		$("#addBtn").on("click",function(){
			edit(0);
		});
		
		
	
	</script>
#end

